body{
    background-color: rgb(138, 196, 127);
    background-image: url(./gup_pixel.jpg);
    background-size: cover;
    overflow: hidden;
    background-position: 120%;
}

.Container{
    border-color: rgb(221, 32, 32);
    background-color: rgba(189, 204, 50, 0.712);
    margin-left: 45%;
    margin-right: 40%;
    

}


.fundo{

    background-size: 100%
    

}