.navBar {
    width: 100vw;
    height: 16vh;
    background-color: rgb(246,173,58,255);
    border-bottom: 1px solid rgba(198, 59, 59, 0.63);
    /*background-image: url(../public/eevolution.png);*/
  }
  
.Header{
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: black;
    position: fixed;

}

  .mainContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  
  .leftContainer {
    background-color: rgb(153, 223, 153);
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.527);
    
  }
  
  .rightContainer {
    background-color: rebeccapurple;
    height: 100%;
    width: 100%;
  }

  .leftText{
    background-color: rgb(240,64,55,255);
    color: rgb(246,219,43,255);
    padding-left: 5%;
    font-size: 22px;
  }
  