/*top bar*/
.navBar {
    width: 100vw;
    height: 13vh;
    background-color: rgb(246,173,58,255); /*yellow top bar*/
    border-bottom: 1px solid rgba(198, 59, 59, 0.63);
    /*background-image: url(../public/eevolution.png);*/
  }
  
.Header{
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: black;
    

}



  .mainContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  
  .leftContainer {
    background-color: white;
    height: 100%;
    width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.527);
    
  }
  
  /*centro da página*/
  .rightContainer {
    background-color: rebeccapurple;
    height: 100%;
    width: 100%;
    background-image: url(../public/PokeBall.jpg);
    
    /*background-size: cover;*/
  }

  .leftText{
    background-color: rgb(240,64,55,255);
    color: white;
    padding-left: 5%;
    font-size: 22px;
    
}
    
.leftText2{
  background-color: rgb(240,64,55,255);
  color: rgb(246,219,43,255);  
  font-size: 22px;
  text-decoration: underline;
}
  
.card {
  width: 90%;
  height: 38vh;
  background-color: rgba(56, 58, 61, 0.527);
  border: 1px solid black;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1%;
  margin-top: 1.5%;
  margin-left: 1%;
}

.card:hover {
  width: 90%;
  height: 38vh;
  background-color: rgba(114, 124, 138, 0.527);
  border: 1px solid black;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 1%;
  margin-top: 1.5%;
  margin-left: 1%;
}


.cardImg {
  max-width: 100%;
  max-height: 34vh;
}

.cardInfos {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardInfos h2 {
  font-size: 24px;
  font-weight: bold;
}

.createMovie{
  font-size: 20px;
  color: white;
  border: 1px black solid;
  padding: 0.4%;
  border-radius: 6px;
  background-color: rgb(88, 88, 235);
}

.logoutBtn {
  border: 1px solid black;
  color: white;
  font-size: 20px;
  padding: 0.4%;
  background-color: rgb(88, 88, 235);
  border-radius: 8px;
  margin-top: -10%;
}